/************** COLINE ****************/








/*************** ROBIN ****************/









/*************** AMEL *****************/


.warning {
    /*border: 10px ridge #f00;*/
    background-color: rgb(221, 221, 221);
    padding: .5rem;
    align-self: center;
    width: 25%;
}

.blanc {
    background-color: rgb(255, 255, 255);
}

.warning img {
    width: 35%;
    align-self: center;
}

.warning p {
    font: Montserrat;
    text-align: center;
}

.warning h4 {
    font: Montserrat;
    text-align: center;
}






/************** REDOUANE ***************/






















