/************** COLINE ****************/
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
} 
.logo{
  width: 50px;
  margin-left: 3rem;
  margin-top: 1rem;
}
ul{
  display: flex;
  margin-right: 3rem;
  margin-top: 2rem;
}
li{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.CTA{
  background-color: #7B2964;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 7px;
}
.header-homepage{
  position: relative;
}
.text{
  color: white;
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center;
}
.text-header{
  font-size:24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/*************** ROBIN ****************/









/*************** AMEL *****************/

.warning {
    /*border: 10px ridge #f00;*/
    background-color: rgb(221, 221, 221);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    
}

.warning img {
    width: 40%;
    align-self: center;
}

.warning p {
    font: Montserrat;
    text-align: center;
}








/************** REDOUANE ***************/


/*************************
* STYLE GLOBALS
*************************/

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-transform: uppercase;
  text-align: center; 
}

/*************************
* CLASSES GLOBALS
*************************/

.container {
  margin-left: auto;
  margin-right: auto;
}

/*************************
* STYLE PAR SECTION
*************************/



#concept {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border-top: solid 15px rgb(124, 40, 99);
}

#left {
  width: 33%;
  padding-left: 150px;
  text-align: right;
  
}

#center {
  width: 33%;
  text-align: center;
  background-color: white;
  color: black;
  margin: -150px 50px 0 50px;
  padding: 50px;
}

.button {
  background-color: rgb(124, 40, 99);
  color: white;
  padding: 20px;
  border: 0;
}

#right {
  width: 33%;
  text-align: left;
}

.coordonnee {
  display: flex;
}

.coordonnee img {
    width: 30px;
    margin-right: 10px;
}

.h3 {
  margin: 0;
}

#form {
  text-align: left;
}







